/* everything else */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #a8549d;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 10px;
    color: #fff;
  }
  
  button{
    border-radius: 10px;
  }

  
  #gameContainer{
    color:#fff;
  }

  #levelSelect{
    color:#fff;
  }




/* the game */
  .game-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100px;
    margin: 10px;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .card-img {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }
  
  .card.flipped {
    background: #fff;
    color: #000;
    cursor: default;
    transform: rotateY(180deg);
     box-shadow: 0 0 10px #000;
  }

  .card.matched {
  background-color: #c1f0c1;
  box-shadow: 0 0 10px 5px rgba(21, 255, 0, 0.733);
  transform: scale(1.05);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  opacity: 0.85;
  }


  /* Game UI */

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    z-index: 10;
  }

  canvas.confetti {
  pointer-events: none;
  }
  
  #overlay.hidden {
    display: none;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
  }

  #mainMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  #mainMenu button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
  }

  .hidden {
  display: none;
  }

  #pauseMenu {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.7);
  /* display: flex; justify-content: center; align-items: center; this fucker was causing problems */
  z-index: 100;
  }
 
  .menu-box {
    /* background: white; */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #5c1956;
  }

  /* Learn JavaScript by Building 7 Games - Full Course */
  /* Feb 28, 2022 */
  /* freeCodeCamp.org */
  /* 19 march 2025 */
  /* https://www.youtube.com/watch?v=ec8vSKJuZTk */
  /* online youtube video */

  /* How to Code a Card Matching Game */
  /* Premiered Oct 20, 2018 */
  /* Web Dev Simplified */
  /* 20 march 2025 */
  /* https://www.youtube.com/watch?v=28VfzEiJgy4 */
  /* online youtube video  */

  /* W3Schools */
  /* 19 march */
  /* https://www.w3schools.com/js/js_whereto.asp */
  /* online website */

  /* https://www.youtube.com/playlist?list=PL5e68lK9hEzcZLltZrc3NDlKWS3XygchY */
/* playlist */

/*https://fonts.google.com/knowledge/using_type/using_web_fonts*/